---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
AccessModifierOffset: -2
IndentWidth:     4
TabWidth:        4
UseTab:          Never
NamespaceIndentation: All
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
